title: Molly Stroud
email: mollystroud@vt.edu
description: >- # this means to ignore newlines until "baseurl:"
  Remote sensing hydrologist
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://mollystroud.github.io" 
icon: /assets/images/icon-512.png
# Build settings
markdown: kramdown

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

plugins:
  - jekyll-paginate

paginate: 3
paginate_path: "/page/:num/"